/* 按钮组样式 */
.action-buttons {
  display: flex;
  gap: 8px;
}

.row-button {
  transform: all 1s;
}

.row-button:hover {
  transform: scale(1.1);
}

.ant-table {
  height: 543px;
  overflow: auto;
}

.user-management-table .ant-table-tbody > tr > td {
  height: 48px; /* 强制设置行高 */
  padding: 4px 12px !important; /* 减少内边距 */
}

.user-management-table .user-table-row:hover td {
  background-color: #fafafa !important;
}

.user-management-card .ant-card-body {
  height: 709px;
}

.ant-spin-container {
  height: 609px;
  position: relative;
}

.ant-pagination {
  position: absolute;
  right: 5%;
  bottom: -2%;
}

.user-skill-card .ant-card-body {
  padding-top: 10px;
}

.card-title {
  display: flex;
  justify-content: space-between;
}

.user-skill-table {
  margin-top: 0;
  position: relative;
}

.user-skill-table .ant-pagination {
  display: flex;
  z-index: 100;
  padding-top: 3px;
  padding-bottom: 17px;
}

.user-skill-table .select-button {
  display: flex;
  z-index: 100;
  gap: 20px;
  position: absolute;
  bottom: 3.7%;
  left: 0;
}

.selectAll-button.selected-all {
  background-color: #1890ff;
  color: white;
  border-color: #1890ff;
}

.selectAll-button:hover {
  background-color: #40a9ff;
  color: white;
}

.selectAll-button.selected-all:hover {
  background-color: #096dd9;
}
