.ant-modal {
    // border-top-right-radius: 50px,!important;
    //     border-top-left-radius: 80px;
    //     border-bottom-left-radius: 80px;
    form {
    border-radius: 8px;
    // border-top-right-radius: 50px,!important;
    width: 400px;
    max-height: 500px;
    overflow-y: auto;/* 表单单独滚动 */
    
    .ant-modal-content{
        border-radius: 0.1px;
    }
}}