.ant-modal-content {
  width: 600px !important;

  form {
    padding-top: 20px;

    * {
      vertical-align: middle;
    }

    .update-user-footer {
      text-align: right;

      .update-user-button {
        text-align: right;
        margin-left: 20px !important;
      }
    }
  }
}
