.table-box {
  th {
    text-align: center !important;
    color: #0899a6 !important;
    background-color: rgba(141 156 158 / 25%) !important;
    height: 72px !important;
    padding: 16px !important;
    font-size: 14px;

    &::before{
        display: none;
    }
  }

  td{
    text-align: center;
  }
}
