/* 按钮组样式 */
.action-buttons {
  display: flex;
  gap: 8px;
}

.row-button {
  transform: all 1s;
}

.ant-card-body {
  height: 611px;
}

.row-button:hover {
  transform: scale(1.1);
}

.ant-table {
  height: 543px;
  overflow: auto;
}

.unit-management-table .ant-table-tbody > tr > td {
  height: 48px; /* 强制设置行高 */
  padding: 4px 12px !important; /* 减少内边距 */
}

.unit-management-table .unit-table-row:hover td {
  background-color: #fafafa !important;
}

.ant-spin-container {
  height: 609px;
  position: relative;
}

.ant-pagination {
  position: absolute;
  right: 5%;
  bottom: -2%;
}

.units-management-card .ant-card-body {
  height: 709px;
}
