
.user-information {
  padding: 0 35px;

  .top-bar {
    height: 90px;
    // background-color: antiquewhite;
    
    .top-bar-left {
      height: 90px;
      text-align: left;
    }

    .top-bar-right {
      height: 90px;
      text-align: right;
    }

  }
}
