
.button-box{
    background-color: #038A97;
}

.button-box1{
    background-color: green;
}

.add-modal-box{
    text-align: right;
}

.button-box2{
    background-color: cadetblue;
}

.button-box3{
    background-color:aquamarine;
}