.container-all {
    margin-top: 20px;
}

#header-left-entrt {

}

.select-box {
    display: flex;
    flex-grow: 1;
    width: 170px;
    height: 40px;
}

.input-box {
    display: flex;
    flex-grow: 1;
    width: 170px;
    height: 40px;
}

.add-modal-box {
    text-align: right;
}

.button-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 90px;
    height: 40px;
    font-size:105%;
}

#table-entry {
    display: flex;
    flex-grow: 1;
    margin-top: 35px;
}

#table-entry .button-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 60px;
    height: 30px;
    font-size:95%;
}

#table-entry .buttons-box {
    margin-right: -30px;
}